.page-kbarticle {
    .formWrapper {
        display: flex;
        margin: 0 auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
        align-items: center;
        justify-content: center;
    }

    .bottomGrid {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 35px 35px auto 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 15px;
        padding: 2rem;
        box-sizing: border-box;
        height: 100%;
        width: 80vw;
        align-items: center;
    }

    #kbArticleP,
    #titleP,
    #knowledgeP {
        text-align: right;
        padding-right: 20px;
    }

    #knowledgeP {
        align-self: start;
        margin-top: 4rem;
    }

    #kbArticleI,
    #kbTitleI {
        padding: 10px;
        margin: 0;
        width: 85.3%;
    }

    #kbKnowledgeI {
        padding: 10px;
        margin: 0;
        width: 85.3%;
        height: 800px;
        overflow: hidden;
        resize: vertical;
    }

    .input,
    .select {
        display: inline;
        background-color: #1f1f1f;
        border-radius: 10px;
        border: 0px;
        box-sizing: border-box;
        color: #e0e0e0;
        font-size: 14px;
        height: 35px;
        outline: 0;
        width: 240px;
        margin-left: 15px;
        padding-left: 10px;
        transition: all 0.2s;
    }

    .input:focus {
        border: 2px solid #695cfe;
    }

    .inputLabel {
        display: inline;
        color: #c2c2c2;
    }

    .errortext {
        color: #ff5c5c;
        text-align: center;
        margin-top: 1rem;
        font-weight: 500;
        font-size: 14px;
    }
}
