<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>serviceLater</title>
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/kbarticle.css" />

    <!-- icons -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>

                <div class="text logo-text">
                    <span class="name">Service<span>Later</span></span>
                    <span class="adminName">
                        <%=user.username%>
                    </span>
                </div>
            </div>

            <i class="bx bx-chevron-right toggle"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <!-- Searchbox -->
                <li class="search-box">
                    <!-- PARA BUSCAR KB O INC -->
                    <i class="bx bx-search icon"></i>
                    <input type="text" name="Search" placeholder="Search KB, INC" />
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/ticket_create">
                            <i class="bx bx-edit icon"></i>
                            <span class="text nav-text">New incident</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/kb_create"> <i class="bx bx-book-add icon"></i> <span class="text nav-text">New KB</span> </a>
                    </li>

                    <li class="nav-link">
                        <a href="">
                            <i class="bx bx-cabinet icon"></i>
                            <span class="text nav-text">Incidents</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/all_kb">
                            <i class="bx bx-book-bookmark icon"></i>
                            <span class="text nav-text">KB articles</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/backlog">
                            <i class="bx bx-bar-chart icon"></i>
                            <span class="text nav-text">Backlog</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/">
                        <!-- bx icon -->
                        <i class="bx bx-log-out icon"></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>

    <div class="content">
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/backlog" class="navbar__title">service<span>Later</span></a>

                <ul class="navbar__menu">
                    <!-- <li class="navbar__item">
              <a href="" onclick="" class="navbar__attach" id="attach">&#128206;</a>
            </li> -->
                    <li class="navbar__btn">
                        <button class="button" form="save">Save</button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="formWrapper">
            <form id="save" class="form" action="/kbarticle" method="post">
                <div class="bottomGrid" id="">
                    <!-- ESTO ESTÃ ALINEADO PARA LA MIERDA PORQUE NO SE LA FORMA DE ALINEARLO BIEN CON LO DE ARRIBA -->
                    <p id="kbArticleP" class="inputLabel">
                        <%='KB'+data.KB%>
                    </p>
                    <input id="kbArticleI" name="kbarticle" class="input" type="text" placeholder=" " />

                    <p id="titleP" class="inputLabel">
                        <%=data.title%>
                    </p>
                    <input id="titleI" name="title" class="input" type="text" placeholder=" " />

                    <p id="knowledgeP" class="inputLabel">
                        <%=data.description%>
                    </p>
                    <textarea id="knowledgeI" name=knowledge" class="input" type="text" placeholder=" "></textarea>
                </div>
        </div>

        <script>
            const body = document.querySelector("body"),
                sidebar = body.querySelector("nav"),
                toggle = body.querySelector(".toggle");
            searchBtn = body.querySelector(".search-box");

            toggle.addEventListener("click", () => {
                sidebar.classList.toggle("close");
            });

            searchBtn.addEventListener("click", () => {
                sidebar.classList.remove("close");
            });
        </script>
</body>

</html>