<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>serviceLater</title>
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/login.css" />
  </head>

  <body>
    <!-- LOGIN -->
    <div class="formWrapper">
      <form class="form" action="/" method="post">
        <p class="subtitle">Log in now, or<span> later!</span></p>
        <p class="title">service<span>Later</span></p>
        <!-- Username textbox -->
        <div class="input-container ic1">
          <input id="username" name="username" class="input" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="username" class="placeholder">Username</label>
        </div>
        <!-- Password textbox -->
        <div class="input-container ic2">
          <input id="password" name="password" class="input" type="password" placeholder=" " />
          <div class="cut"></div>
          <label id="for" ="password" class="placeholder">Password</label>
        </div>
        <!-- login button -->
        <button type="text" class="loginBtn">login</button>
        <!-- error text -->
        <p class="errortext"></p>
      </form>
    </div>
  </body>
</html>
