<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>serviceLater</title>
  <script src="../js/index.js"></script>
  <link rel="stylesheet" href="../styles/global.css" />
  <link rel="stylesheet" href="../styles/ticket.css" />
  <link rel="stylesheet" href="../styles/navbar.css" />
  <link rel="stylesheet" href="../styles/sidebar.css" />
  <!-- icons -->
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>

  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <!--<img src="logo.png" alt="">-->
        </span>

        <div class="text logo-text">
          <span class="name">Service<span>Later</span></span>
          <span class="adminName">%nombreadmin%</span>
        </div>
      </div>

      <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <!-- Searchbox -->
        <li class="search-box">
          <!-- PARA BUSCAR KB O INC -->
          <i class="bx bx-search icon"></i>
          <input type="text" placeholder="Search KB, INC" />
        </li>

        <ul class="menu-links">
          <li class="nav-link">
            <a href="#">
              <i class="bx bx-edit icon"></i>
              <span class="text nav-text">New incident</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#"> <i class="bx bx-book-add icon"></i> <span class="text nav-text">New KB</span> </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class="bx bx-cabinet icon"></i>
              <span class="text nav-text">Incidents</span>
            </a>
          </li>

          
          <li class="nav-link">
            <a href="#">
              <i class="bx bx-user-pin icon"></i>
              <span class="text nav-text">My incidents</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class="bx bx-book-bookmark icon"></i>
              <span class="text nav-text">KB articles</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class="bx bx-bar-chart icon"></i>
              <span class="text nav-text">Backlog</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a href="#">
            <!-- bx icon -->
            <i class="bx bx-log-out icon"></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
      </div>
    </div>
  </nav>

  <div class="content">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/menu.ejs" class="navbar__title">service<span>Later</span></a>

        <ul class="navbar__menu">
          <!-- <li class="navbar__item">
            <a href="" onclick="" class="navbar__attach" id="attach">&#128206;</a>
          </li> -->
          <li class="navbar__btn">
            <button class="button" form="save">Save</button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="formWrapper">
      <form id="save" class="form" action="/ticket" method="post">
        <div class="topGrid">
          <div class="gridcontent" id="div1">
            <p class="inputLabel">Incident number</p>
            <input id="incNum" name="incNum" class="input" type="text" placeholder=" " readonly />
          </div>

          <div class="gridcontent" id="div2">
            <p class="inputLabel">Requested by</p>
            <input id="reqBy" name="reqBy" class="input" type="text" placeholder=" " />
          </div>

          <div class="gridcontent" id="div3">
            <p class="inputLabel">Requested for</p>
            <input id="reqFor" name="reqFor" class="input" type="text" placeholder=" " />
          </div>

          <div class="gridcontent" id="div4">
            <p class="inputLabel">Service offering</p>
            <input id="srvcOf" name="srvcOf" class="input" type="text" placeholder=" " />
          </div>

          <div class="gridcontent" id="div5">
            <p class="inputLabel">Configuration item</p>
            <input id="confItem" name="confItem" class="input" type="text" placeholder=" " />
          </div>

          <div class="gridcontent" id="div6">
            <p class="inputLabel">Contact type</p>
            <!-- <input id="contactType" name="contactType" class="input" type="text" placeholder=" " /> -->
            <select id="contactType" name="contactType" class="select">
              <option value="Discord">Discord</option>
              <option value="ingame">In-game chat</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="gridcontent" id="div7">
            <p class="inputLabel">State</p>
            <!-- <input id="state" name="State" class="input" type="text" placeholder=" " /> -->
            <select id="state" name="State" class="select">
              <option value="new">New</option>
              <option value="resolved">Resolved</option>
              <option value="pendingVendor">Pending (Awaiting vendor)</option>
              <option value="pendingAdmin">Pending (Admin action)</option>
              <option value="pendingTechnical">Pending (Technical)</option>
              <option value="pendingOther">Pending (Other)</option>
            </select>
          </div>

          <div class="gridcontent" id="div8">
            <p class="inputLabel">Assigned to</p>
            <!-- <input id="assigned" name="Assigned" class="input" type="text" placeholder=" " /> -->
            <select id="assigned" name="Assigned" class="select">
              <!-- se carga con los nicks de los admins registrados en servicelater -->
            </select>
          </div>

          <div class="gridcontent" id="div9">
            <p class="inputLabel">Category</p>
            <input id="category" name="Category" class="input" type="text" placeholder=" " />
          </div>

          <div class="gridcontent" id="div10">
            <p class="inputLabel">Symptom</p>
            <input id="symptom" name="Symptom" class="input" type="text" placeholder=" " />
          </div>

          <div class="gridcontent" id="div11">
            <p class="inputLabel">Impact</p>
            <!-- <input id="impact" name="Impact" class="input" type="text" placeholder=" " /> -->
            <select id="impact" name="Impact" class="select">
              <option value="high">1 - High</option>
              <option value="medium">2 - Medium</option>
              <option value="low">3 - Low</option>
            </select>
          </div>

          <div class="gridcontent" id="div12">
            <p class="inputLabel">Urgency</p>
            <!-- <input id="urgency" name="Urgency" class="input" type="text" placeholder=" " /> -->
            <select id="urgency" name="Urgency" class="select">
              <option value="high">1 - High</option>
              <option value="medium">2 - Medium</option>
              <option value="low">3 - Low</option>
            </select>
          </div>

          <div class="gridcontent" id="div13">
            <p class="inputLabel">Priority</p>
            <input id="priority" name="Priority" class="input" type="text" placeholder=" " readonly />
            <!-- PRIORITY DETERMINADA POR LA RELACION ENTRE EL IMAPCTO Y LA URGENCIA -->
          </div>
        </div>
        <div class="bottomGrid" id="">
          <!-- ESTO ESTÁ ALINEADO PARA LA MIERDA PORQUE NO SE LA FORMA DE ALINEARLO BIEN CON LO DE ARRIBA -->
          <p id="shortDescP" class="inputLabel">Short description</p>
          <input id="shortDescI" name=" " class="input" type="text" placeholder=" " />

          <p id="knowledgeP" class="inputLabel">Knowledge base</p>
          <input id="knowledgeI" name=" " class="input" type="text" placeholder=" " />

          <p id="worknotesP" class="inputLabel">Worknotes</p>
          <textarea id="worknotesI" name=worknotes" class="input" type="text" placeholder=" "></textarea>

          <p id="addcommentsP" class="inputLabel">Additional comments</p>
          <textarea id="addcommentsI" name=addcomments" class="input" type="text" placeholder=" "></textarea>
        </div>
      </form>
    </div>
  </div>

  <script>
    const body = document.querySelector("body"),
      sidebar = body.querySelector("nav"),
      toggle = body.querySelector(".toggle");
    searchBtn = body.querySelector(".search-box");

    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    });

    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    });
    document.getElementById("incNum").value = '<%=data.id%>';
    document.getElementById("reqBy").value = '<%=data.request_by%>';
    document.getElementById("reqFor").value = '<%=data.request_for%>';
    document.getElementById("srvcOf").value = '<%=data.service_offering%>';
    document.getElementById("confItem").value = '<%=data.item%>';
    document.getElementById("contactType").value = '<%=data.contact_type%>';
    document.getElementById("state").value = '<%=data.status%>';
    document.getElementById("assigned").value = '<%=data.assigned%>';
    document.getElementById("category").value = '<%=data.category%>';
    document.getElementById("symptom").value = '<%=data.symptom%>';
    document.getElementById("impact").value = '<%=data.impact%>';
    document.getElementById("urgency").value = '<%=data.urgency%>';
    document.getElementById("priority").value = '<%=data.priority%>';
    var user_field = document.getElementById("assigned");

    var user = '<%=users%>';
    var user_list = user.split(',');
    for (var i = user_list.length - 1; i >= 0; i--) {
      console.log(user_list[i])
      var option = document.createElement("option");
      option.text = user_list[i];
      option.value = user_list[i];
      option.innerHTML = user_list[i];
      user_field.appendChild(option);
    }
  </script>
</body>

</html>